<article class="layout">
    <app-sidebar />

    <div class="main">
        <app-navbar [pageTitle]="'Write It Down Before You Forget'" />

        <section class="notes-content">
            <form (ngSubmit)="createNewNote()" [formGroup]="noteForm" class="note-form">
                <label for="note-title">Note Title</label>
                <div>
                    <div *ngIf="noteForm.get('noteTitle')?.invalid && noteForm.get('noteTitle')?.touched">
                        <small *ngIf="noteForm.get('noteTitle')?.errors?.['required']">Note title is required</small>
                    </div>
                    <input type="text" class="note-title" id="note-title" formControlName="noteTitle" aria-required="true">
                </div>

                <label for="note-content">Note Content</label>
                <div>
                    <div *ngIf="noteForm.get('noteContent')?.invalid && noteForm.get('noteContent')?.touched">
                        <small *ngIf="noteForm.get('noteContent')?.errors?.['required']">Note content is required</small>
                    </div>
                    <textarea rows="10" class="note-content" id="note-content" formControlName="noteContent" aria-required="true"></textarea>
                </div>

                <div *ngIf="noteForm.get('noteTag')?.invalid && noteForm.get('noteTag')?.touched">
                    <small *ngIf="noteForm.get('noteTag')?.errors?.['required']">Note tag is required</small>
                </div>

                <label for="note-tag">Select Tag</label>
                <select class="note-tag" formControlName="noteTag">
                    <option value="" disabled selected>Select tag</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Career">Career</option>
                    <option value="Academic">Academic</option>
                </select>

                <article class="form-actions-article">
                    <button type="submit" class="create-note-btn" aria-label="Create note">
                        <div class="update-note-tag-icon">
                            <i class="fa-solid fa-pen"></i>
                            <p class="button-text">Create note</p>
                        </div>
                    </button>

                    <button type="button" class="cancel-btn" aria-label="Cancel note creation" (click)="goBack()">
                        <div class="update-note-tag-icon">
                            <i class="fa-solid fa-ban"></i>
                            <p class="button-text">Cancel</p>
                        </div>
                    </button>

                </article>
            </form>
        </section>
    </div>

</article>