@use '../../styles/_reusables' as *;


/* Navbar */
.navbar {
  background-color: var(--navbar-bg-col);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px grey;

  .hamburder-div {
    cursor: pointer;
    color: var(--font-select-col);
  }


  // .hamburger-icon {
  //   color: var(--font-color);
  // }

  .page-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--preferences-text-col);
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--preferences-text-col);

    img {
      border-radius: 50%;
    }
  }

  .user-email-text {
    color: var(--preferences-text-col);
  }


  button {
    @include main-action-btn-style(3rem);
    color: var(--font-color);
    color: #fff;
  }

  .sign-in-btn {
    @include main-action-btn-style( 6rem);
    color: var(--font-color);
    color: #fff;
  }


  .hidden {
    display: none;

  }

  
}




@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    .page-title {
      font-size: 0.85rem;
    }

  }
}