@use '../../styles/_reusables' as *;


/* Navbar */
.navbar {
  background-color: var(--navbar-bg);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px grey;

  .hamburder-div {
    cursor: pointer;
  }


  .hamburger-icon {
    color: var(--font-color);
  }

  .page-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      border-radius: 50%;
    }
  }

  span {
    color: var(--font-color);
  }


  button {
    @include main-action-btn-style(3rem);
    color: var(--font-color);
    color: #fff;
  }

  .sign-in-btn {
    @include main-action-btn-style( 6rem);
    color: var(--font-color);
    color: #fff;
  }

  
}
