<section class="sign-up-container">
    <h3 class="auth-type-header">Register</h3>

    <form [formGroup]="signUpForm" (ngSubmit)="createNewUser()" class="authentication-form">
        
        <label for="email-input">E-mail</label>
        <div>
            <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
                <small *ngIf="signUpForm.get('email')?.errors?.['required']">E-mail is required</small>
                <small *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email format</small>
            </div>
            <input type="email" id="email-input" class="email-input" formControlName="email" aria-required="true">
        </div>

        <label for="password-input">Password</label>
        <div>
            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
                <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</small>
                <small *ngIf="signUpForm.get('password')?.errors?.['password']">Invalid email format</small>
            </div>
            <input type="password" id="password-input" class="password-input" formControlName="password" aria-required="true">
        </div>

        <button type="submit" class="add-new-user-btn" aria-label="Register">
            Register
        </button>

        <div class="account-recovery">
            <p (click)="navigateToSignIn()">Already have an account? Sign in here</p>
        </div>
    </form>
</section>

