@use '../../styles/_reusables' as *;

.sign-up-container {
    max-width: 30%;
    margin: 2rem auto;
    // background-color: red;

    .update-note-tag-icon {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .auth-type-header {
        margin-top: 7rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .authentication-form {

        box-shadow: 2px 3px 6px grey;
        border-radius: 0.625rem;
        padding: 2rem;

        .email-input {
            width: 100%;
            height: 2rem;
            margin-bottom: 3rem;
            border-radius: 0.625rem;
            padding: 1rem;
            border: 1px solid black;
            @include focus-visible-style();
        }

        .password-input {
            width: 100%;
            height: 2rem;
            margin-bottom: 3rem;
            border-radius: 0.625rem;
            padding: 1rem;
            border: 1px solid black;
            @include focus-visible-style();
        }

        .add-new-user-btn {
            @include main-action-btn-style(100%);
            margin-bottom: 1rem;
            border: 1px solid black;
            @include focus-visible-style();
        }


        .account-recovery {
            display: flex;
            justify-content: space-between;


            p {
                color: var(--font-color);
                cursor: pointer;
                font-size: 0.8rem;

                &:hover {
                    color: #292966;
                }
            }
        }

        small{
            color: red;
        }



    }
}