@use '../../styles/_reusables' as *;


.layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}


/* Main content area */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}


/* Notes */
.notes-content {
  padding: 2rem;

  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    // background-color: red;

    .note-card {
      background-color: white;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }

      .note-title {
        margin: 1rem 0 0.5rem;
      }

      .note-date {
        color: #555;
        font-size: 0.9rem;
      }

      .tags {
        margin-top: 1rem;
      }

      .tag-img {
        width: 15px;
        margin-top: 1rem;
      }

      .note-content {
        margin-top: 1rem;
      }

      small {
        display: block;
        margin-top: 0.75rem;
        color: #888;
        font-size: 0.75rem;
      }
    }
  }

  .action-btns {
    display: flex;
    justify-content: start;
    gap: 1rem;
  }

  .edit-note-btn {
    @include main-action-btn-style(5rem, $primary-col, $affirm-btn-hover-col);
    margin-top: 2rem
  }


  .archive-btn {
    @include main-action-btn-style(6rem, $primary-col, $affirm-btn-hover-col);
    margin-top: 2rem
  }

  .unarchive-btn {
    @include main-action-btn-style(6rem, $primary-col, $affirm-btn-hover-col);
    margin-top: 2rem
  }

  .search-input {
    width: 100%;
    // max-width: 400px;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;  
  
  }

}



/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar {
    padding: 1rem;
  }

  .notes-content {
    padding: 1rem;
  }
}
