<article class="layout">
    <app-sidebar />

    <section class="main">
        <app-navbar [pageTitle]="'Your current notes at a glance'" />

        <div class="notes-content">
            @if(isLoading) {
                <app-loading-state [loadingMessage]="'Loading your notebook, please wait...'" />
            }

            @if( filteredNotes.length > 0 ) {
                <input type="text" placeholder="Search active notes by title, tag or content.." 
                    [(ngModel)]="searchQuery" (ngModelChange)="filterNotes()" 
                    class="search-input"/>

                <article>
                    <div class="notes-grid">
                        <div *ngFor="let note of filteredNotes" class="note-card" 
                            [ngClass]="{
                                'work_tag_bg': note.tag==='Work',
                                'personal_tag_bg': note.tag==='Personal',
                                'career_tag_bg': note.tag==='Career',
                                'academic_tag_bg': note.tag==='Academic'
                                        }">
                            <div class="note-title-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                                </svg>
                                <p class="note-date">{{ note.createdAt }}</p>
                            </div>

                            <div class="note-title-icon">
                                <h3 class="note-title">{{ note.title }}</h3>
                            </div>
                            <hr />

                            <p class="note-content">"{{ note.content.slice(0, 100) }}"...</p>
                            
                            <div class="note-tag-icon">
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                                </svg> -->

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd" />
                                </svg>

                                <p class="note-tag">{{ note.tag }}</p>
                            </div>
                            

                            <article class="action-btns-article">
                                <div class="action-btns">
                                    <button (click)="navigateToReadNote(note)" class="edit-note-btn">
                                        <div class="note-tag-icon">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <p class="button-text">Read</p>
                                        </div>
                                    </button>

                                    <button (click)="navigateToEditNote(note)" class="edit-note-btn">
                                        <div class="note-tag-icon">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <p class="button-text">Edit</p>
                                        </div>
                                    </button>
                                
                                    <button (click)="archiveNote( note )" class="archive-btn" *ngIf="note.isArchived === false">
                                        <div class="note-tag-icon">
                                            <i class="fa-solid fa-lock"></i>
                                            <p class="button-text">Archive</p>
                                        </div>
                                    </button>

                                    <button (click)="unarchiveNote( note)" class="unarchive-btn" *ngIf="note.isArchived === true">
                                        <div class="note-tag-icon">
                                            <i class="fa-solid fa-lock-open"></i>
                                            <p class="button-text">Unarchive</p>
                                        </div>
                                    </button>
                                </div>                           
                            </article>
                        </div>
                    </div>
                </article>
            }


            @if( isLoading === false && filteredNotes.length === 0) {
                <app-empty-state [emptyMessage]="'You don’t have any notes yet. Start by creating your first one!'" />
            }

        </div>

    </section>

</article>
