@use '../../styles/_reusables' as *;


.layout {
  display: flex;
  min-height: 100vh;
}


/* Main content area */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}


/* Notes */
.notes-content {
  padding: 2rem;
  background-color: var(--main-content-bg);
  min-height: 100vh;
  // border-top-left-radius: 4%;


  .no-notes-text {
    color: var(--font-color);
  }

  .loading-notes-text {
    color: var(--font-color);
  }


  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    // background-color: red;

    .note-card {
      // background-color: blue;
      height: 24rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }

      .note-title-icon {
        display: flex;
        justify-content: space-between;

        svg {
          width: 1.1rem;
          align-self: flex-start;
        }

        .note-date {
          color: #555;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }

      .note-tag-icon {
        display: flex;
        justify-content: start;
        gap: 0.5rem;

        svg {
          width: 1.1rem;
          margin: 1rem 0 0.5rem;
        }

        .note-tag {
          align-self: center;
          font-style: italic;
        }


      }

      .note-title {
        margin: 1rem 0 0.8rem;
        color: var(--font-color);
      }

      .tags {
        margin-top: 1rem;
      }

      .tag-img {
        width: 15px;
        margin-top: 1rem;
        align-self: center;
        color: var(--icon-color);
      }

      .note-content {
        margin-top: 1rem;
        color: var(--font-color);
      }

      small {
        display: block;
        margin-top: 0.75rem;
        color: #888;
        font-size: 0.75rem;
      }
    }


    .work_tag_bg {
      background-color: #fec971;
      border-left: 4px solid #CC9E52;
      border-bottom: 4px solid #CC9E52;

    }

    .personal_tag_bg {
      background-color: #e4ef8f;
      border-left: 4px solid #8c9956;
      border-bottom: 4px solid #8c9956;
    }

    .career_tag_bg {
      background-color: #fe9b72;
      border-left: 4px solid #b3664a;
      border-bottom: 4px solid #b3664a;
    }

    .academic_tag_bg {
      background-color: #ffe4f2;
      border-left: 4px solid #b399a6;
      border-bottom: 4px solid #b399a6;
    }

  }

  .action-btns-article {
    justify-self: flex-end;
  }

  .action-btns {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }

  .edit-note-btn {
    @include main-action-btn-style(6rem);
    margin-top: 2rem
  }


  .archive-btn {
    @include main-action-btn-style(6rem);
    margin-top: 2rem
  }

  .unarchive-btn {
    @include main-action-btn-style(6.3rem);
    margin-top: 2rem
  }

  .search-input {
    width: 100%;
    background-color: var(--font-select-bg);
    color: var(--font-select-col);
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--sidebar-bg-col);
    border-radius: 6px;  
    @include focus-visible-style();


    &::placeholder {
      color: var(--font-select-col);
    }

    

  }

}



/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar {
    padding: 1rem;
  }

  .notes-content {
    padding: 1rem;
  }
}
