.loading-section {
    height: 80%;
    // background-color: green;

    .loading-info-div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 1.1rem;
        color: var(--preferences-text-col);
    }

}



@media (max-width: 768px) {
    .loading-info-div {
        p {
            font-size: 1rem;
        }
    }
}