<div class="layout">

<section class="sign-up-container">
    <h3 class="auth-type-header">Sign in</h3>

    <form [formGroup]="signInForm" (ngSubmit)="signInUser()" class="authentication-form">
        
        <label for="email-input">E-mail</label>
        <div>
            <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
                <small *ngIf="signInForm.get('email')?.errors?.['required']">E-mail is required</small>
                <small *ngIf="signInForm.get('email')?.errors?.['email']">Invalid email format</small>
            </div>
            <input type="email" id="email-input" class="email-input" formControlName="email" aria-required="true">
        </div>

        <label for="password-input">Password</label>
        <div>
            <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
                <small *ngIf="signInForm.get('password')?.errors?.['required']">Password is required</small>
                <small *ngIf="signInForm.get('password')?.errors?.['password']">Invalid email format</small>
            </div>
            <input type="password" id="password-input" class="password-input" formControlName="password" aria-required="true">
        </div>

        <button type="submit" class="add-new-user-btn" aria-label="Sign in">
            Sign in
        </button>

        <div class="account-recovery">
            <p (click)="navigateToSignUp()">Don't have an account? Register here</p>
            <p>Forgot password? Reset here</p>
        </div>
    </form>
</section>

</div>

