<div class="layout">

  <app-sidebar />

  <!-- Main Area -->
  <div class="main">
    <app-navbar />

    <!-- Notes Content -->
    <section class="notes-content">
      <div class="notes-grid">
        <!-- <div class="note-card" *ngFor="let note of notes">
          <h3>{{ note.title }}</h3>
          <p>{{ note.content }}</p>
          <small>{{ note.createdAt | date }}</small>
        </div> -->

        <div class="note-card">
            <h3>vfdxjbn</h3>
            <p>fzhgkbnkcb</p>
            <small>kjfdgkdhi</small>
        </div>
      </div>
    </section>
  </div>
</div>
