@use '../../styles/_reusables' as *;


.layout {
  display: flex;
  min-height: 100vh;
}


/* Main content area */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}


/* Notes */
.notes-content {
  padding: 2rem;
  background-color: var(--main-content-bg);
  height: 100vh;

  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;

    .note-card {
      background-color: var(--note-card-bg-work);
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease;
      color: var(--font-color);

      &:hover {
        transform: translateY(-2px);
      }

      .note-title {
        margin: 0 0 0.5rem;
        color: var(--font-color);
      }

      .note-content {
        // color: #555;
        color: var(--font-color);
        font-size: 0.9rem;
      }

      .note-tag {
        margin: 1rem 0 0.5rem;
        color: var(--font-color);
        font-style: italic;
      }

      .note-tag-icon {
        display: flex;
        justify-content: start;
        gap: 0.5rem;
      }

      .tag-img {
        width: 15px;
        margin-top: 1rem;
        align-self: center;
        color: var(--icon-color);
      }

      .unarchive-btn {
        @include main-action-btn-style(6.3rem);
        margin-top: 2rem
      }
      
    }
  }

  .no-notes-text {
      color: var(--font-color);
      font-size: 0.9rem;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar {
    padding: 1rem;
  }

  .notes-content {
    padding: 1rem;
  }
}
