<div class="layout">

  <app-sidebar />

  <!-- Main Area -->
  <div class="main">
    <app-navbar [pageTitle]="'Archived notes'"></app-navbar>

    <!-- Notes Content -->
    <section class="notes-content">
      <div>
        <div *ngIf="archivedNotes$ | async as notes">
          <div *ngIf="notes.length; else noArchived" class="notes-grid">
            <div *ngFor="let note of notes" class="note-card">
              <h3 class="note-title">{{ note.title }}</h3>
              <p class="note-content">{{ note.content }}</p>
              <small class="note-tag">{{ note.tag }}</small>
            </div>
          </div>
        </div>

        <ng-template #noArchived>
          <p class="no-notes-text">No archived notes found.</p>
        </ng-template>
      </div>
    </section>
  </div>
</div>
