@use '../../styles/_reusables' as *;

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--landing-page-bg) ;
  color: var(--landing-page-col);
  padding: 1.5rem;

  .landing-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--landing-page-col);
    }

    .auth-buttons {
      display: flex;
      gap: 1rem;

      button {  
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
        background: none;
        border: 1px solid var(--landing-page-col);
        color: var(--landing-page-col);
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--landing-page-col);
          color: var(--landing-page-white);
        }

        &.primary {
          background-color: var(--landing-page-col);
          color: var(--landing-page-white);
        }
      }
    }
  }

  .hero {
    // background-color: green;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0 2rem;

    .hero-text {
      // background-color: yellow;
      flex: 1;
      min-width: 280px;
      color: var(--landing-page-col);

      h1 {
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
        max-width: 500px;
        margin-bottom: 2rem;
      }

      .cta {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;


        button {
          padding: 0.5rem 1.2rem;
          font-size: 1rem;
          background: none;
          border: 1px solid var(--landing-page-col);
          color: var(--landing-page-col);
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--landing-page-col);
            color: var(--landing-page-white);
          }

          &.primary {
            background-color: var(--landing-page-col);
            color: var(--landing-page-white);
          }
        }
      }
    }

    .hero-image {
      // background-color: tomato;
      flex: 1;
      min-width: 280px;

      img {
        width: 100%;
        max-width: 500px;
        border-radius: 0.65rem;
      }
    }
  }
}





// responsive styling
@media (max-width: 719px ) {

  .landing-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between;
    gap: 2rem;
  }


  .hero {
    margin-top: 4rem
  }
}