@use '../styles/_reusables' as *;

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: $primary-col;
  color: white;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;

  .logo {
    @include main-action-btn-style(100%, $primary-col, $affirm-btn-hover-col);
    font-size: 1.4rem;
    font-weight: bold;

  }

  nav ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.75rem 1rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      border-radius: 4px;

      &.active,
      &:hover {
        background-color: #2a2f3b;
      }

      &:focus-visible {
        outline: 2px solid green;
        outline-offset: 1px;
      }


    }
  }


  .themes {
    // background-color: red;
  }
}
