  <!-- Sidebar -->
<aside [ngClass]="{'sidebar': sidebarService.showSidebar === true, 'hidden': sidebarService.showSidebar === false }">
  <main class="nav-main">
  
    <i class="fa-solid fa-xmark hide-sidebar-icon" (click)="hideSidebar()" *ngIf="sidebarService.showSidebar === true"></i>    

    <button class="logo" aria-label="See all notes">📝 Notopia</button>

    <div class="total-notes-section">
      <div class="total-notes-section-title">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
        </svg>
        <p>Total Notes</p>
      </div>

      <p>{{ totalNotesCount }}</p>
    </div>

    <nav aria-label="Main Navigation">
      <ul>
        <li routerLink="/view-notes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" 
            tabindex="0" role="button" (keydown)="handleKeyDown($event, '/')" aria-label="View all notes">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
                <i class="fa-solid fa-note-sticky"></i>             
                <p>Active Notes</p>
            </div>

            <p>{{ activeNotesCount }}</p>
          </div>
        </li>


        <li routerLink="/archived" routerLinkActive="active" tabindex="0" role="button" (keydown)="handleKeyDown($event, '/archived')" aria-label="View archived notes">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
              <i class="fa-solid fa-lock"></i>    
              <p>Archived</p>
            </div>

            <p>{{ archivedNotesCount }}</p>
          </div>
        </li>

        <li routerLink="/create" routerLinkActive="active" tabindex="0" role="button" (keydown)="handleKeyDown($event, '/create')" aria-label="Create new note">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
              <i class="fa-solid fa-square-pen note-icon"></i>    
              <p>New Note</p>
            </div>
          </div>
        </li>

      </ul>
    </nav>


  </main>

  <article class="themes">
    <h3>Preferences</h3>
    <section class="fonts">
      <h3>Fonts:</h3>
        <div class="font-selector">
          <!-- <button [class.active]="fontType === 'sans'" (click)="setFont('sans')">Sans</button>
          <button [class.active]="fontType === 'sans-serif'" (click)="setFont('sans-serif')">Serif</button>
          <button [class.active]="fontType === 'monospace'" (click)="setFont('monospace')">Mono</button> -->

          <select [(ngModel)]="fontType" (ngModelChange)="setFont()">
            <option value="sans">Sans</option>
            <option value="sans-serif">Sans-Serif</option>
            <option value="monospace">Monospace</option>
          </select>
        </div>
    </section>

    <section class="colors">
      <h3>Themes:</h3>      
      <div class="theme-buttons">
        <button class="light-theme-btn" (click)="setThemeLight()" aria-label="light-theme-toggle"></button>

        <button class="dark-theme-btn" (click)="setThemeDark()"></button>

        <button class="green-theme-btn" (click)="setThemeGreen()"></button>
      </div>

    </section>
  </article>
</aside>
