  <!-- Sidebar -->
<aside [ngClass]="{'sidebar': notesService.showSidebar === true, 'hidden': notesService.showSidebar === false }">
  <main class="nav-main">
  
    <i class="fa-solid fa-xmark hide-sidebar-icon" (click)="hideSidebar()" *ngIf="notesService.showSidebar === true"></i>    

    <button class="logo" aria-label="See all notes">📝 Notopia</button>

    <nav aria-label="Main Navigation">
      <ul>
        <li routerLink="/create" routerLinkActive="active" tabindex="0" role="button" (keydown)="handleKeyDown($event, '/create')" aria-label="Create new note">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
              <i class="fa-solid fa-square-pen note-icon"></i>    
              <p>Create Note</p>
            </div>
          </div>
        </li>

        <li routerLink="/view-notes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" 
            tabindex="0" role="button" (keydown)="handleKeyDown($event, '/')" aria-label="View all notes">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
                <i class="fa-solid fa-note-sticky"></i>             
                <p>Total Notes</p>
            </div>

            <p>
              {{ notesService.totalNotes() }}
            </p>
          </div>
        </li>


        <li routerLink="/archived" routerLinkActive="active" tabindex="0" role="button" (keydown)="handleKeyDown($event, '/archived')" aria-label="View archived notes">
          <div class="sidebar-section">
            <div class="sidebar-section-title">
              <i class="fa-solid fa-lock"></i>    
              <p>Archived</p>
            </div>

            <p>
              {{ notesService.totalArchivedNotes() }}
            </p>
          </div>
        </li>
      </ul>
    </nav>

  </main>

  <article class="themes">
    <h3>My Preferences</h3>
    <section class="fonts">
      <h3>Fonts:</h3>
        <div class="font-selector">
          <button [class.active]="fontType === 'sans'" (click)="setFont('sans')">Sans</button>
          <button [class.active]="fontType === 'sans-serif'" (click)="setFont('sans-serif')">Serif</button>
          <button [class.active]="fontType === 'monospace'" (click)="setFont('monospace')">Mono</button>
        </div>
    </section>

    <section class="colors">
      <h3>Themes:</h3>      
      <div class="theme-buttons">
        <button class="light-theme-btn" (click)="setThemeLight()" aria-label="light-theme-toggle"></button>

        <button class="dark-theme-btn" (click)="setThemeDark()"></button>

        <!-- <button class="orange-theme-btn" (click)="setThemeDark()"></button> -->

        <button class="green-theme-btn" (click)="setThemeGreen()"></button>
      </div>

    </section>
  </article>
</aside>
