@use '../../styles/_reusables' as *;

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: var(--sidebar-bg-col);
  color: white;
  padding: 0.3rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;


  .hide-sidebar-icon {
    cursor: pointer;
  }

  .title-and-close-section {
    display: flex;
    justify-content: space-between;
    color: var(--logo-btn-col);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    

    .logo {
      font-size: 1.4rem;
      font-weight: bold;
      background-color: var(--logo-btn-bg-col);
      color: var(--logo-btn-col);
      margin-bottom: 1.5rem;
      border-radius: 6px;

    }


    svg {
      width: 2rem;
      align-self: flex-start;
    }


  }

  nav ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.75rem 1rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      border-radius: 4px;
      color: var(--sidebar-section-col);

      &.active,
      &:hover {
        background-color: var(--sidebar-section-hover-bg-col);
        color: var(--sidebar-section-hover-col)
      }

      @include focus-visible-style();

    }


    .sidebar-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

   .sidebar-section-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
    }
 
  }


  .total-notes-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: var(--preferences-text-col);
      padding: 0.75rem 1rem;


      .total-notes-section-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.5rem;


        svg {
          width: 1.2rem;
        }
      }
  }



  .themes {
    h3 {
      color: var(--preferences-text-col);
      margin-bottom: 1rem;
    }

    .fonts {
      margin-bottom: 1.5rem;

      h3 {
        color: var(--preferences-text-col);
        margin-bottom: 0.7rem;
        font-weight: normal;
      }

      .font-selector {
        
        select {
          cursor: pointer;  
          width: 100%;
          height: 2rem;
          background-color: var(--font-select-bg);
          border-radius: 0.3rem;
          color: var(--font-select-col);

          &::placeholder {
            color: var(--font-select-col);
          }

        }



      }
    }


  .colors {

    h3 {
      color: var(--preferences-text-col);
      margin-bottom: 0.7rem;
      font-weight: normal;
    }

    .theme-buttons {
      display: flex;
      justify-content: start;
      gap: 1rem;
      margin-top: 0.5rem;
    }

    .light-theme-btn {
      background-color: #fff;
      width: 1.8rem;
      height: 1.8rem;
      border: 1px dashed #888;
      border-radius: 0.625rem;
      cursor: pointer;
    }

    .dark-theme-btn {
      background-color: black;
      width: 1.8rem;
      height: 1.8rem;
      border: 1px dashed #888;
      border-radius: 0.625rem;
      cursor: pointer;
    }

    .orange-theme-btn {
      background-color: orange;
      width: 1.8rem;
      height: 1.8rem;
      border: 1px dashed #888;
      border-radius: 0.625rem;
      cursor: pointer;
    }

    .green-theme-btn {
      background-color: #003e29;
      width: 1.8rem;
      height: 1.8rem;
      border: 1px dashed #888;
      border-radius: 0.625rem;
      cursor: pointer;

    }

    .theme-icon {
      width: 40px;
      
    }
  }

  }
  
}


.hidden {
  display: none;
}


.account-info {
  height: 8rem;
  color: var(--preferences-text-col);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    color: var(--preferences-text-col);
    margin-bottom: 1rem;
  }

  .user-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    svg {
      width: 1.4rem
    }

    p {
      color: var(--preferences-text-col);
    }

  }

  .sign-out-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--sidebar-section-hover-bg-col);
    color: var(--sidebar-bg-col);
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.625rem;
    height: 2.2rem;
    padding: 0.2rem 0.5rem;

  }

}




@media ( max-width: 600px ) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    // transition: left 1s ease;
  }

}